{% extends 'base.html.twig' %}

{% block title %}Isaac's Bravery - Accueil
{% endblock %}

{% block body %}
	<h1 class="p-4 text-4xl text-center text-white">Builds</h1>

	{% if builds is empty %}
		<p class="text-center text-white">You have no setup builds yet.</p>
	{% endif %}

	<div class="flex flex-wrap gap-8 items-center justify-center">
		{% for build in builds %}
			<div class="flex flex-col items-center justify-center my-8">
				<div
					class="inline-flex tear-200 justify-center w-[45pc] p-4 rounded-lg">

					<!-- Première colonne : Items -->
					<div class="flex flex-col items-start">
						<p class="text-white">Your item set :</p>
						<div class="grid grid-cols-3 gap-8">
							{% for item in build.item %}
								<div class="flex flex-col items-center">
									<div class="w-24 h-24 flex items-center justify-center bg-gray-500 rounded-lg">
										<img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.name }}" class="object-cover w-full h-full">
									</div>
									<p class="text-white text-center min-h-[40px]">
										{{ item.name }}
									</p>
								</div>
							{% endfor %}
						</div>
					</div>

					<!-- Deuxième colonne : Personnage, Boss et bouton Randomize -->
					<div class="flex flex-col items-center ml-8 gap-8">
						<div flex="flex flex-col">
							<p class="text-white">Your character :</p>
							{% for character in build.character %}

								<div class="w-64 h-80 flex flex-col items-center justify-center bg-gray-500 pt-6 rounded-lg p-8">
									<img src="{{ asset('images/characters/' ~ character.filename) }}" alt="{{ character.name }}" class="w-full h-full object-cover">
								</div>
								<p class="text-white text-center">{{ character.name }}</p>

							{% endfor %}
						</div>
						<div class="flex flex-col items-center">
							<p class="text-white ">Your boss :</p>
							{% for boss in build.boss %}
								<div class="w-64 h-80 flex flex-col items-center justify-center bg-gray-500 pt-6 rounded-lg p-8">
									<img src="{{ asset('images/destinations/' ~ boss.filename) }}" alt="{{ boss.name }}" class="w-full h-full object-cover">
								</div>
									<p class="text-white text-center">{{ boss.name }}</p>
							{% endfor %}
						</div>
						<form method="post" action="{{ path('app_build_user_delete', {'id': build.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Build?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ build.id) }}">
							<button class="bg-red-500 text-white px-6 py-3 rounded-lg mt-4 shadow-lg hover:bg-red-700 transition">
								Delete
							</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
