{% extends 'base.html.twig' %}

{% block title %}Isaac's Bravery - Accueil{% endblock %}

{% block body %}

    <h1 class="p-4 text-4xl text-center text-white">Synergies</h1>

    <table class="border-collapse border border-gray-500 mx-auto my-4">
        <tbody>
            {% for synergie in synergies %}
                {# Découper les items en deux colonnes #}
                {% set firstSynergieColumn = synergie|slice(0, 5) %}
                {% set secondSynergieColumn = synergie|slice(5, 5) %}

                <tr class="bg-gray-300">
                    {# Première colonne avec les 5 premiers éléments #}
                    {% for item in firstSynergieColumn %}
                        <td class="border border-gray-500 p-2 text-center">
                            <div class="w-[8rem] h-[8rem] bg-gray-800 m-2 flex flex-col justify-center items-center">
                                <img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.name }}" class="w-16 h-16 object-cover mt-2">
                                <p class="text-white">{{ item.name }}</p>
                            </div>
                        </td>
                    {% endfor %}

                    {# Deuxième colonne avec les 5 éléments suivants #}
                    {% for item in secondSynergieColumn %}
                        <td class="border border-gray-500 p-2 text-center">
                            <div class="w-[8rem] h-[8rem] bg-gray-800 m-2 flex flex-col justify-center items-center">
                                <img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.name }}" class="w-16 h-16 object-cover mt-2">
                                <p class="text-white">{{ item.name }}</p>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
