{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-white font-bold">User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-white">Username</th>
                <th class="text-white">Email</th>
                <th class="text-white">Password</th>
                <th class="text-white">Roles</th>
                <th class="text-white">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="text-white">{{ user.id }}</td>
                <td class="text-white">{{ user.username }}</td>
                <td class="text-white">{{ user.email }}</td>
                <td class="text-white">{{ user.password }}</td>
                <td class="text-white">{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-white font-bold">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-white font-bold">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="text-white">Create new</a>
{% endblock %}
