{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td class="text-white">{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td class="text-white">{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td class="text-white">{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td class="text-white">{{ user.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td class="text-white">{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}" class="text-white">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-white">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
