{% extends 'base.html.twig' %}

{% block title %}Edit Synergy
{% endblock %}

{% block body %}
	<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
		<h1 class="text-3xl font-bold mb-6">Edit your synergy</h1>

		<form method="post" class="space-y-6">
			{{ form_start(form) }}

			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
				<div class="sm:col-span-1">
					{{ form_label(form.name, "Synergy's name", {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
					<div class="mt-1">
						{{ form_widget(form.name, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
					</div>
					{{ form_errors(form.name) }}
				</div>

				<div class="sm:col-span-2">
					{{ form_label(form.item, 'All the items available in the database', {'label_attr': {'class': 'text-sm font-medium text-gray-600'}}) }}
					{# Overflow pour activer le scroll sur la liste #}
					<div class="mt-4 overflow-y-auto max-h-60 border border-gray-300 rounded-md p-4">
						{% for child in form.item %}
							<div class="flex items-center space-x-2">
								{{ form_widget(child, {'attr': {'class': 'h-4 w-4 rounded border-gray-300 focus:ring-blue-500'}}) }}
								<label class="text-sm text-gray-700">{{ child.vars.label }}</label>
							</div>
						{% endfor %}
					</div>
					{{ form_errors(form.item) }}
				</div>
			</div>

			<div>
				<button type="submit" class="w-full py-3 px-4 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
					Save
				</button>
			</div>

			{{ form_end(form) }}
		</form>

		<!-- Formulaire de suppression -->
		<form method="post" action="{{ path('app_admin_synergy_delete', {'id': synergy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this synergy?');" class="mt-4">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ synergy.id) }}">
			<button type="submit" class="w-full py-3 px-4 bg-red-600 text-white font-bold rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
				Delete
			</button>
		</form>

		<a href="{{ path('app_admin_synergy_index') }}" class="inline-block p-4 mt-4 text-gray-800 bg-gray-200 rounded-lg shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50">
			Back to list
		</a>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
const element = document.getElementById('item_select');
const choices = new Choices(element, {
removeItemButton: true,
placeholder: true,
placeholderValue: 'Sélectionner des items...',
searchEnabled: true, // Active la recherche dans la liste
itemSelectText: '', // Texte affiché dans la liste déroulante
});
});
	</script>
{% endblock %}
