<footer class="bg-red-900 text-gray-200 py-10 mt-auto">
	<div
		class="container mx-auto px-4">
		<!-- Section supérieure du footer -->
		<div
			class="flex flex-col md:flex-row justify-between items-center md:items-start">
			<!-- About us -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6 text-center md:text-start">
				<h3 class="font-bold text-2xl mb-2">About us</h3>
				<p class=" text-black font-bold">
					We are fans of the game
					<a href="#" class="hover:text-blue-300 text-gray-50">The Binding of Isaac</a>.
				</p>
			</div>

			<!-- Navigation rapide -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6 text-center md:text-start">
				<h3 class="font-bold text-2xl mb-2">Quick navigation</h3>
				<ul class=" text-black font-bold">
					<li>
						<a href="{{ path('app_home') }}" class="hover:text-white">Home</a>
					</li>
					<li>
						<a href="{{ path('app_random') }}" class="hover:text-white">Randomize</a>
					</li>
					<li>
						<a href="{{ path('app_synergies') }}" class="hover:text-white">Synergies</a>
					</li>
					<li>
						{# <a href="{{ path('app_about') }}" class="hover:text-white">About</a> #}
					</li>
				</ul>
			</div>

			<!-- Contact -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6 text-center md:text-start">
				<h3 class="font-bold text-2xl mb-2">Contact us</h3>
				<ul class=" text-black text-lg font-bold">
					<li>Click
						<a href="{{ path('app_contact') }}" class="hover:text-white text-blue-500">here</a>
						to fill out the form to contact us.</li>
				</ul>
			</div>
		</div>

		<!-- Section inférieure du footer -->
		<div class="border-t bg-red-950 mt-8 pt-4 text-center">
			<p class="text-white text-sm">&copy; 2024 Isaac's Bravery Company. All rights reserved.</p>
		</div>
	</div>
</footer>
