{{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-4">
        {% for item in form.item %}
            {% if item.vars.data is not null %}
                <div class="item p-2 border border-gray-400 rounded-lg cursor-pointer hover:bg-gray-200 hover:scale-105 transform transition-all" data-item-id="{{ item.vars.value }}">
                    <img src="{{ asset('images/items/' ~ item.vars.data.filename) }}" alt="{{ item.vars.data.name }}" class="w-16 h-16 object-cover rounded mb-2 mx-auto">
                    <p class="text-center text-sm text-gray-700">{{ item.vars.data.name }}</p>
                </div>
            {% else %}
                <p>Item non valide</p> <!-- Optionnel, pour afficher un message d'erreur -->
            {% endif %}
        {% endfor %}
    </div>

    {{ form_row(form.utilisateur) }}
    <button type="submit" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-all">Save</button>
{{ form_end(form) }}
