{% extends 'base.html.twig' %}

{% block title %}Build index
{% endblock %}

{% block body %}
	<div class="p-16 flex flex-row justify-start min-h-screen bg-gray-400 shadow-lg">

		<h1>Build index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for build in builds %}
					<tr>
						<td>{{ build.id }}</td>
						<td>{{ build.name }}</td>
						<td>
							<a href="{{ path('app_build_user_show', {'id': build.id}) }}">show</a>
							<a href="{{ path('app_build_user_edit', {'id': build.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_build_user_new') }}">Create new</a>
	</div>
{% endblock %}
