{% extends 'base.html.twig' %}

{% block title %}Build
{% endblock %}

{% block body %}
	<div class="p-16 flex flex-row justify-start min-h-screen bg-gray-400 shadow-lg"></div>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ build.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ build.name }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_build_user_index') }}">back to list</a>

	<a href="{{ path('app_build_user_edit', {'id': build.id}) }}">edit</a>

	{{ include('build_user/_delete_form.html.twig') }}
	<h1>Build</h1>
{% endblock %}
